  cmtxfile  localizer_block_regression_0sm_run1/vA2.mat
  monly  0
  NCond   20
  WCond   0 1.00000000000000000000 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
  NDelay  2
  WDelay  1 0
  TER         0.050000
  sumconds   1
  sumdelays  0
  nircorr  0
  TPreStim  0
  RmPreStim  0
  rdelta     0 0
  rtau       0 0
  ndelays    2
  CNorm      1
  setwdelay  0
  setwcond   0
